PORT = 
DATABASE_URL = 
LOG_FILE_PATH = './logs.log'

JWT_SECRET = 
PASSWORD_CRYPTO_SECRET = 

MOBILE_APP_MIN_SUPPORTED_VERSION = 
MOBILE_APP_LINK_TO_GOOGLE_PLAY = 
MOBILE_APP_LINK_TO_APP_STORE = 

IS_ENABLED_SCHEDULER_UPDATE_SUBJECTS = 
